/* //////////////////////////////////////////////////////////////////////////// */
/* FONTS Styles */
/* //////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');

.audiowide-regular {
  font-family: "Audiowide";
  font-weight: 400;
  font-style: normal;
}

.orbitron-regular {
  font-family: "Orbitron";
  font-weight: 400;
  font-style: normal;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* • Asterix wildcard selector to overide default styles added by browser  */
/* //////////////////////////////////////////////////////////////////////////// */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* General Styles */
/* //////////////////////////////////////////////////////////////////////////// */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles  */
    color: lightgray;
    font-family: 'Orbitron', sans-serif;
    /* font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px; */
}

/* Styling the Logo Text  */
h1 {
    font-family: "Audiowide";
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: navy;
}

/* Removes list bullet points and styles the nav menu */
#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 10px;
    margin-top: 20px;
} 

/* Creates space between the nav menu items */
#menu > li {
    margin-bottom: 1em;
}

/* Let's people know what page they are currently on */
.active {
    border-bottom: 1px solid yellowgreen;   
}



/* navbar styles wuth dropdown toggle  */
nav {
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle  */
#nav-toggle {
    display: none; 
} 

/* Nav Toggle  */
#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
    /* cursor: pointer;
    user-select: none;
    color: navy;
    position: absolute;
    top: 1rem;
    right: 1.5rem; */
}



/* //////////////////////////////////////////////////////////////////////////// */
/* Header Content Styles */
/* //////////////////////////////////////////////////////////////////////////// */
header {
background-color: whitesmoke;
/* In video these vales were set to padding: 0 1rem; */
padding: 1rem 1.5rem; 
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 1px 4px #3a3a3a;
display: flex;
justify-content: space-between;
align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* //////////////////////////////////////////////////////////////////////////// */
/* Main Content Styles */
/* //////////////////////////////////////////////////////////////////////////// */
main {
/* background-color: red; */
/* Make main element take up any surplus space to push footer down  */
flex: 1 0 auto;
margin-top: 115px;
}

/* Hero Section - Styles  */
 #hero {   
    height: 110vh;  /* - Different from lecturer */
    width: 100%;
    background-color: lightgreen;
    background: url( ../images/hero-image.webp ) no-repeat center center/cover;
}

/* Mobile adjustment for hero spacing */
@media screen and (max-width: 768px) {
    main {
        margin-top: 60px;
    }

    #hero {
        height: 50vh;
    }
}






/* //////////////////////////////////////////////////////////////////////////// */
/* /* Footer - Styles */
/* //////////////////////////////////////////////////////////////////////////// */
footer {

      #social-networks {
       text-align: center;
       padding: 0% 0%;
       display: flex;
       justify-content: space-evenly;
       list-style-type: none;
    }

    #social-networks i {
        font-size: 160%;
        padding: 10%;
        color: #3a3a3a;
    }

    /* #social-networks {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        background-color: yellow;
    } */
}

/* //////////////////////////////////////////////////////////////////////////// */
/* Media Queries: Tablets & Larger (768px and up ) */
/* //////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
    /* Navbar styles for larger screens  */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        background-color: transparent;
        width: fit-content;
        padding-right: 1rem;
    }

    /* Style the nav menu for larger screens  */
    #menu {
        display: flex;
    }

    /* Remove bottom margin from nav menu items for larger screens  */
    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

#logo { 
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem    ;
    }

    /* Main Content */
    main { 
        margin-top: 160px;
    }

 #hero {   
    height: 90vh;  /* - Different from lecturer */
    background:  url( ../images/hero-image.webp ) no-repeat center center/cover;
}
}



/* //////////////////////////////////////////////////////////////////////////// */
/* /* Hero Section - Mobile Styles | Media Queries: Mobile phones & (768px and up ) */
/* //////////////////////////////////////////////////////////////////////////// */

/* - Different from lecturer */
@media screen and (max-width: 768px) { 
 #hero {   
    height: 85vh;
    background:  url( ../images/hero-image.webp ) no-repeat center center/cover;
}
}



/* //////////////////////////////////////////////////////////////////////////// */
/* Media Queries: Desktop & Larger screens (992px and up ) */
/* //////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 20px solid #3a3a3a;
    }

    /* Main Content */
    main { 
        margin-top: 50px;
    }

}





